<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="kiki.com.jlpsi" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <permission
        android:name="kiki.com.jlpsi.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="kiki.com.jlpsi.permission.C2D_MESSAGE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.Kiki" >
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".ui.HomeActivity"
            android:theme="@style/AppTheme.TranslucentActionBar" />
        <activity
            android:name=".ui.ComplainsActivity"
            android:label="@string/title_activity_complaints"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.LoginActivity"
            android:label="@string/title_activity_login"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:windowSoftInputMode="adjustResize" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.PackageRegActivity"
            android:label="@string/title_activity_reg_computer"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.PupilRegActivity"
            android:label="@string/title_activity_reg_pupil"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.ChangePasswordActivity"
            android:label="@string/title_activity_change_password" />
        <activity
            android:name=".ui.HelpActivity"
            android:label="@string/title_activity_help"
            android:parentActivityName=".ui.HomeActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="kiki.com.jlpsi.ui.HomeActivity" />
        </activity>

        <service
            android:name=".services.ActionIntentService"
            android:exported="false" />

        <receiver
            android:name="com.google.android.gcm.GCMBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />

                <category android:name="kiki.com.jlpsi" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <category android:name="kiki.com.jlpsi" />
            </intent-filter>
        </receiver>

        <service android:name=".GCMIntentService" />
    </application>

</manifest>
